.content {
  min-height: 600px;
}

.Form {
  background-color: white;
  display: flex;
  margin: auto auto 100px auto;
  width: 1000px;
  min-height: 1400px;
  font-family: "Trebuchet MS";
  -moz-box-shadow: 3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow: 3px 3px 5px 6px #ccc;
}

.column-left {
  margin: 0;
  background-color: rgb(32, 50, 66);
  padding: 50px;
  float: left;
  width: 35%;
}

.profile {
  padding-top: 50px;
  text-align: center;
  color: rgb(221, 221, 221);
}
.slika {
  justify-content: center;
  width: 100%;
  border-radius: 50%;
  margin-bottom: 30px;
}

input {
  width: 100%;
  border: none;
  background-color: inherit;
  color: rgb(138, 138, 138);
}

.name-input {
  font-size: 30px;
  height: 50px;
}

.name-input::placeholder {
  color: rgb(200, 200, 200);
  text-align: center;
}

.occupation-input {
  text-align: center;
  font-style: italic;
  font-size: 18px;
}

.summary-input {
  width: 100%;
  font-style: italic;
  font-size: 14px;
  height: 200px;
  margin: 0;
  padding-top: 20px;
}

.column-right {
  color: black;

  padding: 40px;
  float: right;
  width: 65%;
  background-color: white;
}

.pdf-container {
  padding: 10px 0px 120px 0x;
}

.button-export {
  color: rgb(26, 49, 85);
  cursor: pointer;
  left: 45%;
  position: relative;
  padding: 100px 20px 25px 20px;
  font-size: 20px;
  font-weight: 550;
  background-color: #ffffff00;
  border: none;
  outline: none;
}
